<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<!--£ utilisation des formulaires -->
<form>
  <h3>Login</h3>

  <label for="username">Username</label>
  <input type="text" placeholder="Email = a@a" id="username" #login />

  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Password = Password"
    id="password"
    #password
  />

  <button type="button" class="btn" (click)="add(login.value, password.value)">
    Connexion
  </button>
</form>
