<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form>
  <div style="text-align: center">Créer ta course</div>
  <label for="location">Localisation</label>
  <input type="text" placeholder="Localisation" id="location" #location />
  <div style="margin-top: 1em">Participants</div>
  <div style="margin-left: 1em">
    <label for="pony1">Poney 1</label>
    <input type="text" placeholder="Nom du Poney 1" id="pony1" #pony1 />

    <label for="pony2">Poney 2</label>
    <input type="text" placeholder="Nom du Poney 2" id="pony2" #pony2 />

    <label for="pony3">Poney 3</label>
    <input type="text" placeholder="Nom du Poney 3" id="pony3" #pony3 />
  </div>

  <button
    type="button"
    class="btn"
    (click)="add(location.value, pony1.value, pony2.value, pony3.value)"
  >
    Nouvelle Course
  </button>
</form>
