<h1>Bienvenue sur les courses</h1>
<a routerLink="/">retourner en arrière</a>
<button class="new" routerLink="/newRace">Créer une nouvelle course</button>

<div *ngFor="let race of races">
  <h2>{{ race.name }}</h2>
  <div class="ponies">
    <div style="background-color: beige" *ngFor="let pony of race.ponies">
      <div style="padding: 10px">{{ pony.name }}</div>
    </div>
  </div>
  <div style="margin-top: 1em">
    <!-- <button class="bet" routerLink="/raceDetail/{{ race.id }}">Parier</button> -->
    <button class="bet" (click)="delete(race.id)">Delete</button>
  </div>
</div>
