<div class="container">
  <div class="main">
    <!-- £ utilisation de directive -->
    <button class="new" *ngIf="!token" routerLink="/login">Se Connecter</button>
    <button class="new" *ngIf="token" (click)="logout()" routerLink="/">
      Se Déconnecter
    </button>
    <button class="new" *ngIf="token" routerLink="/newRace">
      Créer une nouvelle course
    </button>
  </div>
  <!-- £ pipe pour observable async -->
  <div *ngFor="let race of races$ | async">
    <!-- £  utilisation de pipes -->
    <h2 style="color: white">{{ race.name | uppercase }}</h2>
    <div class="ponies">
      <div *ngFor="let pony of race.ponies">
        <div
          [ngStyle]="{
            padding: '10px',
            color: 'white',
            'background-color': pony.color
          }"
        >
          {{ pony.name }}
        </div>
        <img
          [src]="
            'https://ng-ponyracer.ninja-squad.com/assets/images/pony-' +
            pony.color.toLowerCase() +
            '.gif'
          "
          alt="Image du poney"
        />
      </div>

      <button *ngIf="token" class="delete" (click)="delete(race.id)">
        Delete
      </button>
      <button *ngIf="token" class="bet" routerLink="/raceDetail/{{ race.id }}">
        Jouer
      </button>
    </div>
  </div>
</div>
